.env
.renderignore
/.venv
.venv/*
.github/*
# /scripts/*
/backend/data/*.json
# /backend/backend/data/*.json
/backend/.env/
/backend/.env.example
/backend/backup/*.json
/backend/data_filtered/*.json
/backend/item/__pycache__/*.pyc
/backend/security/__pycache__/*.pyc
/backend/backend/__pycache__/*.pyc
/frontend/dist/*
/backend/staticfiles/
/log/*
/dump*
claudeflared