.env
.renderignore
/.venv
.venv/*
.github/*
# /frontend
/frontend/.env
/frontend/package-lock.json
# /scripts/*
/backend/data/tagger
/backend/data/*.json
/backend/data/*.sqlite3
/backend/data/.migrate.lock
# /backend/backend/data/*.json
/backend/.env/
/backend/.env.example
/backend/backup/*.json
/backend/data_filtered/*.json
/backend/item/__pycache__/*.pyc
/backend/security/__pycache__/*.pyc
/backend/backend/__pycache__/*.pyc
/frontend/dist/*
/frontend/.dist_old_root_owned_unused
/frontend/node_modules/
/backend/staticfiles/
/exe/*
/log/*
/dump*
claudeflared
