.env
.*
/scripts/*
# /backend/data/*.json
# /backend/backend/data/*.json
/backend/.env/
/backend/.env.example
/backend/backup/*.json
/backend/data_filtered/*.json
/backend/item/__pycache__/*.pyc
/log/*
*.dump